{require_otp_vsn, "22"}.

{erl_opts, [
    {parse_transform, lager_transform},
    {i, "include"}
]}.

{deps, [
    %% hex deps
    {syn, "1.6.3"},
    {cowboy, "2.6.3"},
    {jiffy, "1.0.1"},
    {recon, "2.5.0"},
    {lager, "3.8.0"},
    {cowbell, "1.0.1"}
]}.

{profiles, [
    {test, [
        {deps, [
            {gun, "1.3.0"},
            {meck, "0.8.13"}
        ]}
    ]},

    {prod, [
        {relx, [
            {release, {origami, "0.1.0"}, [origami]},

            {dev_mode, false},
            {include_erts, true},
            {include_src, false},
            {extended_start_script, true},

            {vm_args, "config/vm.args"},
            {sys_config, "config/sys.config"}
        ]}
    ]}
]}.

{overrides, [
    {override, jiffy, [
        {plugins, [pc]},
        {artifacts, ["priv/jiffy.so"]},
        {provider_hooks, [
            {post,
                [
                    {compile, {pc, compile}},
                    {clean, {pc, clean}}
                ]
            }]
        }
    ]}
]}.
