%%%===================================================================
%%% origami - TEST CONFIGURATION FILE
%%%===================================================================

[

%% Cowbell config
    {cowbell, [

        %% retry interval for disconnected nodes (Default: 10)
        %% {retry_interval_sec, 10},

        %% abandon a node after unsuccessful reconnect (Default: 86400)
        %% {abandon_node_after_sec, 86400},

        %% list of nodes to connect to and monitor
        {nodes, [
            %% 'origami@127.0.0.1'
        ]}

    ]},

%% origami config
    {origami, [
        %% ----- SERVER SETUP
        %% socket
        {socket_options, [
            {port, 4445},
            {certfile, "../../support/ssl/test.crt"},
            {keyfile, "../../support/ssl/test.key"}
        ]}
    ]},

%% Lager config
    {lager, [
        %% What handlers to install with what arguments
        %% The defaults for the logfiles are to rotate the files when
        %% they reach 10Mb or at midnight, whichever comes first, and keep
        %% the last 5 rotations. See the lager README for a description of
        %% the time rotation format:
        %% https://github.com/basho/lager/blob/master/README.org
        %%
        %% If you wish to disable rotation, you can either set the size to 0
        %% and the rotation time to "", or instead specify a 2-tuple that only
        %% consists of {Logfile, Level}.
        {handlers, [
            %% Logs to file
            {lager_console_backend, [{level, debug}]}
        ]}
    ]},

%% syn
    {syn, []}

].
